

/*.mae_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61876E;
    width: 500px;
}*/
.mae_div{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  
    background-color: #61876E;
    border-radius: 2rem;
    padding-bottom: 2rem;
}
.mae_div input{
    height: 2.4rem;
    border-radius: 0.6rem;
    width: 23.7rem;
    outline: none;
    border: #3C6255;
}
input::placeholder{
    color: #3C6255;
}
.mae_div button{
    border: #3C6255;
    font-size: 27px;
    outline: none;
    color: #3C6255;
    height: 2.4rem;
    width: 23.7rem;
    background-color: #A6BB8D;
    border-radius: 1rem;
    
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}

